<!doctype html>
<html ng-app = "personList">
	<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!--===========================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
<!--===========================================================================-->
		<script src ="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

		<script src ="app/controller/controllers.js"></script>
		
	</head>
	<body ng-controller = "personListCtrl">
	<div class = "container">
	<legend><h1>Lesson 1.Homework</h1></legend>
	<legend><input type = "button" ng-click = "show = !show" value = "Show/Hide table"></legend>

	
	<legend><div class="input-group input-group-sm"> <input ng-model="query" class="form-control" type="text" placeholder="Input for search"></div><br></legend>

		<table class="table table-bordered" border="0" ng-show = "show">
			<tr>
				<th><a href="" ng-click = "sortField = 'firstName'; reverse = !reverse">First Name</a></th>
				<th><a href="" ng-click = "sortField = 'lastName'; reverse = !reverse">Last Name</a></th>
				<th><a href="" ng-click = "sortField = 'age'; reverse =!reverse">Age</a></th>
				<th><a href="" ng-click = "sortField = 'address.city';reverse= !reverse">City</a></th>
				<th>
					<select ng-model = "selectedPhone">
					<option selected value="home">Phone Number</option>
					<option value="fax">Fax Number</option>
					</select>
				</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="person in persons | filter:query | orderBy:sortField:reverse">
				<td>{{person.firstName}}</td>
				<td>{{person.lastName}}</td>
				<td>{{person.age}}</td>
				<td>{{person.address.city}}</td>
				<td>{{(person.phoneNumber | filter : {type: selectedPhone})[0].number }}</td>
				<td>
					<button type="button" idx="{{$index}}" href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">
					<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</td>

			</tr>
		</table>
		    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Name : {{person.firstName}}</h4>
                </div>
                <div class="modal-body">
                   <table>
				   <tr>
						<td>
							data
						</td>
				   </tr>
				   </table>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>


		</div>

	</body>
</html>